main{
    height: 100vh;
}
.img{
    max-width: 380px;
    margin-right: 0px  !important;
    padding-right: 0px !important;
}
figcaption{
    display: none;
}
figure .slide{
    background-image: url(../img/home-phones-2x.png);
    background-size: cover;
    background-position:top ;
    background-repeat: no-repeat;
    height: 500px;
    max-width: 600px;
    min-width: 350px;
   
    
}
.form{
    max-width: 400px !important;
    margin-left: 0px  !important;
    height: 500px;
}

input{
    width: 80%;
    padding-left: 5px;
    background-color: #f8f8f8;
    border: solid 1px #8b8b8b;
}
.line {
    width: 80%;
    margin: 0px 30px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 161, 161);
}
.line span{
    background-color: #fff;
    font-size: 1.1rem !important;
    
    padding: 0px 6px;
}
.btn
{
    width: 80%;
    
}

.fab{
    color: #385185;
}
