
main{
    height: 100vh;
    margin-top: 30px;
}

figcaption{
    display: none;
}

.bg-img{
    background-image: url(../img/Sem\ título-1.png);
    background-size: 468.32px 634.15px;
    background-position:-35px 0px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    max-width: 400px;
    min-width: 310px;   
}
.slide{
    display: flex;
    justify-content: center;   
}

.carousel-inner{
    padding: 20px 0px;
    max-width: 250px;
    margin-left: 96px
    
}
.carousel-item img{
    
    padding-top: 10px;
    max-width: 250px;
    height: 593px;
}

.form{
    max-width: 400px !important;
    margin-left: 0px  !important;
}

input{
    width: 80%;
    padding: 5px;
    background-color: #f8f8f8;
    border: solid 1px #c5c5c5cb;
    outline: none;
}
.line {
    width: 80%;
    margin: 0px 30px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 161, 161);
}
.line span{
    background-color: #fff;
    font-size: 1.1rem !important;
    
    padding: 0px 6px;
}
.btn
{
    width: 80%;   
}
.btn-primary{
    background-color: #4DB5F9 !important; 
    border: none;
}

.fab{
    color: #385185;
}
.font-small,
input::placeholder{
    font-size: 0.75rem !important;
    
}
.font-small{
    color:#385185;
    font-weight: 500;
}
.entrar-com-facebook{
    font-weight: 500;
}
